<div class="row">
  <div class="col-12">
    <h3>Add Comment</h3>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <%= form_for([@post, @post.comments.build]) do |form| %>
          <p>
            <%= form.label :username %><br>
            <%= form.text_field(:username, {:class => 'form-control'}) %>
          </p>
          <p>
            <%= form.label :body %><br>
            <%= form.text_area(:body, {:class => 'form-control'}) %>
          </p>
          <p>
            <%= form.submit({:class => 'btn btn-light'})%>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>